.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 900px;
  padding: 0 20rem;
  background-image: url('../images/about-bg-img.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 1650px) {
    padding: 0 17rem;
  }

  @media (max-width: 1450px) {
    padding: 0 12rem;
  }

  @media (max-width: 1250px) {
    padding: 0 9rem;
  }

  @media (max-width: 1150px) {
    flex-direction: column;
    padding: 4rem 0;
    height: 950px;
  }

  @media (max-width: 650px) {
    height: 750px;
  }

  @media (max-width: 500px) {
    height: 900px;
  }

  .images {
    position: relative;
    width: 740px;
    height: 580px;
    background-image: url('../images/about-img-01.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 1150px) {
      width: 100%;
      max-width: 500px;
    }

    @media (max-width: 700px) {
      max-width: 400px;
    }

    @media (max-width: 650px) {
      max-width: 300px;
      height: 400px;
    }


    .image-02 {
      position: absolute;
      top: 15rem;
      left: -6rem;
      width: 100%;

      @media (max-width: 650px) {
        top: 10rem;
      }

      @media (max-width: 500px) {
        left: 0;
        top: 12.5rem;
      }
    }
  }

  .description {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;

    @media (max-width: 1150px) {
      margin: 0;
    }

    @media (max-width: 650px) {
      max-width: 400px;
    }

    @media (max-width: 500px) {
      max-width: 300px;
    }

    .about-title {
      font-size: 24px;
      color: $lightblue;
      margin-bottom: 1rem;
    }

    .title {
      font-size: 60px;
      margin-bottom: 5rem;
    }

    .text {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      line-height: 2.5rem;
    }
  }
}