@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'outrun_futureregular';
  src: url('../fonts/outrun_future-webfont.woff2') format('woff2'),
  url('../fonts/outrun_future-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'outrun_futurebold';
  src: url('../fonts/outrun_future_bold-webfont.woff2') format('woff2'),
  url('../fonts/outrun_future_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'outrun_futurebold_italic';
  src: url('../fonts/outrun_future_bold_italic-webfont.woff2') format('woff2'),
  url('../fonts/outrun_future_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}