.hero {
  height: 100vh;
  background-image: url('../images/bg-photo.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .watch-more {
    background-color: white;
    color: black;
    padding: .5rem 2rem .8rem 2rem;
    border: none;
  }

  .barmy-title {
    margin-bottom: 1.5rem;

    @media (max-width: 930px) {
      max-width: 700px;
    }

    @media (max-width: 750px) {
      max-width: 500px;
    }

    @media (max-width: 550px) {
      max-width: 350px;
    }
  }

  .grafiti-crew {
    @media (max-width: 750px) {
      max-width: 400px;
    }

    @media (max-width: 550px) {
      max-width: 300px;
    }
  }

  .watch-more-btn {
    margin-top: 7rem;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: 20%;
      left: 27%;
      color: black;
      font-size: 18px;
    }
  }

  .fade-bottom-bg-container {
    position: absolute;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    height: 10rem;
    width: 100%;

    img {
      margin-top: -1rem;
    }
  }
}