@import 'reset';
@import 'colors';
@import 'fonts';
@import 'navbar';
@import 'hero';
@import 'about';
@import 'carousel';

* {
  font-family: 'outrun_futureregular';
}

html {
  background-color: black;
  color: white;
  overflow-x: hidden;
}