/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "outrun_futureregular";
  src: url("../fonts/outrun_future-webfont.woff2") format("woff2"), url("../fonts/outrun_future-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "outrun_futurebold";
  src: url("../fonts/outrun_future_bold-webfont.woff2") format("woff2"), url("../fonts/outrun_future_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "outrun_futurebold_italic";
  src: url("../fonts/outrun_future_bold_italic-webfont.woff2") format("woff2"), url("../fonts/outrun_future_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  margin-top: 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media (max-width: 750px) {
  .navbar .list {
    gap: 1.5rem;
  }
}
@media (max-width: 600px) {
  .navbar .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 3rem;
  }
}
.navbar .list span {
  font-size: 24px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 750px) {
  .navbar .list span {
    font-size: 22px;
  }
}
.navbar .list span:first-child {
  margin: 0;
}
.navbar .list span:hover::before {
  position: absolute;
  height: 26px;
  top: 1.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-image: url("../images/hover-menu.png");
  content: "";
}

.hero {
  height: 100vh;
  background-image: url("../images/bg-photo.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .watch-more {
  background-color: white;
  color: black;
  padding: 0.5rem 2rem 0.8rem 2rem;
  border: none;
}
.hero .barmy-title {
  margin-bottom: 1.5rem;
}
@media (max-width: 930px) {
  .hero .barmy-title {
    max-width: 700px;
  }
}
@media (max-width: 750px) {
  .hero .barmy-title {
    max-width: 500px;
  }
}
@media (max-width: 550px) {
  .hero .barmy-title {
    max-width: 350px;
  }
}
@media (max-width: 750px) {
  .hero .grafiti-crew {
    max-width: 400px;
  }
}
@media (max-width: 550px) {
  .hero .grafiti-crew {
    max-width: 300px;
  }
}
.hero .watch-more-btn {
  margin-top: 7rem;
  position: relative;
  cursor: pointer;
}
.hero .watch-more-btn span {
  position: absolute;
  top: 20%;
  left: 27%;
  color: black;
  font-size: 18px;
}
.hero .fade-bottom-bg-container {
  position: absolute;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  height: 10rem;
  width: 100%;
}
.hero .fade-bottom-bg-container img {
  margin-top: -1rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 900px;
  padding: 0 20rem;
  background-image: url("../images/about-bg-img.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1650px) {
  .about {
    padding: 0 17rem;
  }
}
@media (max-width: 1450px) {
  .about {
    padding: 0 12rem;
  }
}
@media (max-width: 1250px) {
  .about {
    padding: 0 9rem;
  }
}
@media (max-width: 1150px) {
  .about {
    flex-direction: column;
    padding: 4rem 0;
    height: 950px;
  }
}
@media (max-width: 650px) {
  .about {
    height: 750px;
  }
}
@media (max-width: 500px) {
  .about {
    height: 900px;
  }
}
.about .images {
  position: relative;
  width: 740px;
  height: 580px;
  background-image: url("../images/about-img-01.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1150px) {
  .about .images {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 700px) {
  .about .images {
    max-width: 400px;
  }
}
@media (max-width: 650px) {
  .about .images {
    max-width: 300px;
    height: 400px;
  }
}
.about .images .image-02 {
  position: absolute;
  top: 15rem;
  left: -6rem;
  width: 100%;
}
@media (max-width: 650px) {
  .about .images .image-02 {
    top: 10rem;
  }
}
@media (max-width: 500px) {
  .about .images .image-02 {
    left: 0;
    top: 12.5rem;
  }
}
.about .description {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}
@media (max-width: 1150px) {
  .about .description {
    margin: 0;
  }
}
@media (max-width: 650px) {
  .about .description {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .about .description {
    max-width: 300px;
  }
}
.about .description .about-title {
  font-size: 24px;
  color: #95a7ff;
  margin-bottom: 1rem;
}
.about .description .title {
  font-size: 60px;
  margin-bottom: 5rem;
}
.about .description .text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 2.5rem;
}

.carousel {
  height: 870px;
  position: relative;
}
.carousel .go-to {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 300ms ease;
}
@media (max-width: 550px) {
  .carousel .go-to {
    width: 60px;
  }
}
.carousel .go-to:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel .go-to:hover svg {
  color: white;
}
.carousel .go-to svg {
  transition: color 300ms ease;
  color: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
}
.carousel .next {
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}
.carousel .previous {
  position: absolute;
  left: 0;
}
.carousel .images-list {
  z-index: 10;
  position: absolute;
  bottom: -8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.carousel .images-list .image {
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.carousel .images-list .image::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel .images-list .image01 {
  background-image: url("../images/carousel-01.jpeg");
  background-size: cover;
}
.carousel .images-list .image02 {
  background-image: url("../images/carousel-02.jpg");
  background-size: cover;
}
.carousel .images-list .image03 {
  background-image: url("../images/carousel-03.jpg");
  background-size: cover;
}
.carousel .images-list .image04 {
  background-image: url("../images/carousel-04.jpg");
  background-size: cover;
}
.carousel .images-list .image-active {
  border: 8px #ff4e3e solid;
}
.carousel .images-list .image-active::after {
  content: "";
  background-color: transparent;
}
.carousel .slider {
  width: 100%;
  height: 100%;
}
.carousel .slider .item {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease;
}
.carousel .slider .item .slide {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .slider .item .slide::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel .slider .item .slide .lorem {
  z-index: 5;
  max-width: 45rem;
  text-align: center;
}
@media (max-width: 970px) {
  .carousel .slider .item .slide .lorem {
    max-width: 40rem;
  }
}
@media (max-width: 820px) {
  .carousel .slider .item .slide .lorem {
    max-width: 30rem;
  }
}
@media (max-width: 680px) {
  .carousel .slider .item .slide .lorem {
    max-width: 20rem;
  }
}
@media (max-width: 550px) {
  .carousel .slider .item .slide .lorem {
    max-width: 13rem;
  }
}
.carousel .slider .item .slide .lorem h3 {
  font-size: 45px;
  margin-bottom: 4rem;
}
.carousel .slider .item .slide .lorem p {
  line-height: 2rem;
  font-family: "Montserrat", sans-serif;
}
.carousel .slider .item .slide .credit {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 8rem;
  z-index: 5;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.2rem;
  font-size: 12px;
  color: lightgray;
}
@media (max-width: 550px) {
  .carousel .slider .item .slide .credit {
    right: 4rem;
  }
}
.carousel .slider .item .slide .credit a {
  color: #95a7ff;
  font-family: "Montserrat", sans-serif;
}
.carousel .slider .item .slide-01 {
  background-image: url("../images/carousel-01.jpeg");
  background-size: cover;
}
.carousel .slider .item .slide-02 {
  background-image: url("../images/carousel-02.jpg");
  background-size: cover;
}
.carousel .slider .item .slide-03 {
  background-image: url("../images/carousel-03.jpg");
  background-size: cover;
}
.carousel .slider .item .slide-04 {
  background-image: url("../images/carousel-04.jpg");
  background-size: cover;
}
.carousel .item-after {
  transform: translateX(100%);
}
.carousel .item-before {
  transform: translateX(-100%);
}
.carousel .item-active {
  z-index: 4;
}

.footer {
  padding: 4rem 0;
  position: relative;
  height: 905px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/footer-img.png");
  background-size: cover;
}
.footer .fade-bottom-bg-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}
.footer .all-right {
  z-index: 5;
  margin-top: 5rem;
  color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .all-right .icons-ref {
  margin-top: 2rem;
  text-align: center;
}
.footer .join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 470px) {
  .footer .join-us .join-us-img {
    max-width: 350px;
  }
}
.footer .join-us .join-us-btn {
  position: relative;
  cursor: pointer;
  color: #ff4e3e;
  margin-top: 3rem;
}
.footer .join-us .join-us-btn span {
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 18px;
}

* {
  font-family: "outrun_futureregular";
}

.link {
  color: #ff4e3e;
}

html {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */
